header {

	font-size: 70px;
	color: #8C0CF6;
	position: absolute;
	top: 170px;
	right: 150px;
	font-weight: bold;
	font-display: 20px;
}

.informacao{
	font-size: 32px;
	color:#2E2E2E;
	padding: 10px;
	margin: 15px;
	font-weight: bold;
	background: none;
	font-style: italic;
} 

.contair img{
	width:60%;
	position: absolute;
	right: 250px;
	top: 250px;
	background: transparent;
	}

	 
  }

  @media screen and (max-width: 480px){
		.icones, {
		width: 100%;
		}
		header{
         font-size: 30px;
         color: #8C0CF6;
         position: absolute;
         top: 136px;
         left: 230px;
         font-weight: bold;
		}

		.contair img {
         width: 60%;
         position: absolute;
         right: -61px;
         top: 254px;
         background: transparent;
        }
		h1 {
        width: 100%;
        }
        .informacao {
         font-size: 40px;
         color: #2E2E2E;
         margin: 0;
         font-weight: bold;
         background: none;
         font-style: italic;
        }
         .inicio {
          padding: 20px;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          display: inline-block;
          position: absolute;
          background: #FF5733;
          left: 192px;
          top: 1600px;
          text-decoration-line: none;
         }

	
	.banner{
		width: 100px;
	}
li{
		width: 100;	
	}
	nav {
    position:static;
   }
    
   html{
   	width: 100%;
   }
   footer {
    width: 100%;
    text-align: center;
    background: url(rodape.jpg);
    padding: 8px 110px
      }
       .copyright{
 	color: #FFFFFF;
 	font-size: 20px;
 	margin: 50px;
         }
           }

footer{
	width: 100%;
 	text-align: center; 
 	background: url("rodape.jpg");
 	padding: 8px 80px ;
 	top: 1480px; 	 
        }

  .copyright{
 	color: #FFFFFF;
 	font-size: 20px;
 	margin: 50px;
 }
